/* 
* Styling of React bootstrap tabs 
* TODO: Get rid of CSS file and style with Emotion.js
*/

.nav-tabs {
	border-bottom: 4px solid #444aca;
}

.nav-link.active {
	color: #ffffff !important;
	background: linear-gradient(#575fff, #444aca) !important;
	border-bottom: 11px solid #444aca !important;
	font-weight: bold;
}

.nav-link {
	display: block;
	width: 50%;
}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	border: none !important;
}

.nav-tabs a {
	color: #ffffff !important;
	background-color: #c5c5c5 !important;
	font-weight: bold;
}

.dropzone {
	max-height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border: 3px dashed #c2c0c0;
	background-color: #edf5ff;
	font-size: 18px;
	line-height: 24px;
	font-style: bold;
	outline: none;
}
