/* 
* Styling of React bootstrap tabs 
* TODO: Get rid of CSS file and style with Emotion.js
*/

.nav-tabs {
	height: 7vh;
	border-bottom: 4px solid #444aca;
	padding: auto;
}

.nav-link {
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	height: 100%;
	width: 50%;
	font-size: 2.5vh;
}

.nav-link.active {
	color: #ffffff !important;
	background: linear-gradient(#575fff, #444aca) !important;
	border-bottom: 20px solid #444aca !important;
	font-weight: bold;
}

.nav-tabs .nav-link {
	/* margin-bottom: -1px; */
	border: none !important;
}

.nav-tabs a {
	color: #ffffff !important;
	background-color: #c5c5c5 !important;
	font-weight: bold;
}

.tab-content {
	height: 100%;
}

.tab-pane {
	height: 90%;
}

.dropzone {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	max-height: 34vh;
	width: 80%;
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
	border: 3px dashed #c2c0c0;
	background-color: #edf5ff;
	font-size: 2.5vh;
	line-height: 3vh;
	font-style: bold;
	outline: none;
	/* border: 1px solid red; */
}
